{% extends 'base.html.twig' %}

{% block body %}
	<main aria-label="contenu principal" id="main">
    	<div class="container-fluid">
			<h2 class="text-center subtitle ">Ma Demande</h2>
            {% include "_inc/notice.html.twig" %}
			<div class="row">
				<div class="col-md-6 col-sm-6">
					 {# {{ form_start(form, { attr: { novalidate: 'novalidate', aria_label:"formulaire de demande de correction" } }) }} #}
                        <div class="row">
                           
                        </div>
                        <div class="row">
                            {# <div class="col-md-6 col-sm-12">
                                {{ form_label(form.email, 'Email :', { label_attr: { class:'form-label'} }) }}
                                {{ form_widget(form.email, { attr: { class:'form-control', aria_label:'Veuillez obligatoirement saisir votre email'} }) }}
                                {{ form_errors(form.email, { attr: { class:'text-danger'} }) }}               
                            </div> #}
                        </div>
                     
                        <div>
                             <button type="submit" class="btn btn-secondary btn-submit">Valider</button>
                        </div>
			        {# {{ form_end(form) }} #}
				</div>
                <p>
				        <a href="{{ url('profile.homepage.index') }}" class="btn btn-secondary">Retour au menu</a>
                        
			        </p>
			</div>
		</div>
	</main>
{% endblock %}