{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du Mot de Passe{% endblock %}

{% block body %}
    <main aria-label="contenu principal" id="main" class="my-auto mx-md-auto">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4 col-sm-6 mb-sm-5 px-md-5">
                <img src="{{ asset('img/reset-password.webp') }}" class="img-fluid illustration" alt="image d'illustration du changement de mot de passe"> 
            </div>            
            <div class="col-md-6 col-sm-8 pb-sm-5 px-md-5">
                <h2>Réinitialisation du mot de passe</h2>
                {{ form_start(form,  { attr: { novalidate: 'novalidate', aria_label:'Formulaire de réinitialisation de mot de passe'}}) }}
                    
                    {{ form_label(form.password, 'Mot de Passe :', { label_attr: { class: 'form-label'} }) }}
                    {{ form_widget(form.password, { attr: { class: 'form-control', aria_label:'Veuillez obligatoirement saisir votre nouveau mot de passe'} }) }}
                    {{ form_errors(form.password, { attr: { class:'text-danger'} }) }}
                    
                    <button type="submit" class="btn btn-secondary button btn-submit">Envoyer</button>
                {{form_end(form)}}
            </div>         
        </div>                        
    </main>   
{% endblock %}
