{% extends 'base.html.twig' %}

{% block body %}
	<main aria-label="contenu principal" id="main">
		<div class="container-fluid">
			
			{% include "_inc/notice.html.twig" %}
			<div class="row">
				<div class="col-md-4 col-sm-6 mb-sm-5 px-md-5">
                	<img src="{{ asset('img/reset-password.webp') }}" class="img-fluid illustration" alt="image d'illustration du changement de mot de passe"> 
            	</div>     
				<div class="col-md-6 col-sm-8 pb-sm-5 px-md-5">
					<h2 class="text-center subtitle ">Modifier mon mot de passe :</h2>
					{{ form_start(form, { attr: { novalidate: 'novalidate', aria_label:"formulaire de modification de mot de passe" } }) }}
					
						{{ form_widget(form.plainPassword, { attr: { aria_label:'Veuillez obligatoirement saisir votre mot de passe'} }) }}
						{{ form_errors(form.plainPassword, { attr: { class:'text-danger'} }) }}
				
				
				    <button type="submit" class="btn button btn-secondary btn-submit">Valider</button>
				    </div>
                    </div>
					{{ form_end(form) }}
				</div>
				<p>
					<a href="{{ url('profile.homepage.index') }}" class="btn button btn-secondary">Retour au menu</a>
					<a href="{{ url('profile.myprofile.form') }}" class="btn button btn-secondary">Retour à mon profil</a>
				</p>
			</div>
		</div>
	</main>
{% endblock %}
